<!-- MENU PARA EL MODULO DE USUARIO-->
<div class="navStyleTwo barra-menu-usuario">
    <div class="container">
        <nav class="menu2 navbar navbar-expand-sm navbar-light aling">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-center">
                    <li class="nav-item menu2" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/usuario/libros']">LIBROS</a>
                    </li>
                    <li class="nav-item menu2" routerLinkActive="active">
                        <a class="nav-link" [routerLink]="['/usuario/prestamos']">PRESTAMOS</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

