<footer class="page-footer font-small blue d-block footer-fijo">
    <div class="col-lg-12 foter-cl-12">
        <div class="footer-copyright fondo">
            <div class="col-lg-12 div-center foter-azul btn-azul pt-4 pb-4 mb-3 font-size-16 footer-radius">
                <div class="col-lg-12">
                    <span class="txt-blanco fw-700">Politica sobre COOKIES ! </span>
                    <span class="txt-blanco">
                       Utilizamos coockies propias y de terceros para ofrecerte una mejor experiencia y servicio, de acuerdo a  tus habitos de navegacion
                    </span>                
                </div>
                <div class="col-lg-12">
                    <span class="txt-blanco fw-700">Importante</span>
                    <span class="txt-blanco">
                        Si continuas navegando, consideramos que aceptas su uso.
                    </span>              
                </div>        

            </div>
            <div class="col-lg-12">
                <span class="txt-blanco">Claro Colombia {{anio}}</span> <span class="pipe"> | </span>
                <a  target="_blank" routerLinkActive="active">
                    <span class="txt-azul">Términos y Condiciones / Política del Concurso</span>
                </a> 
            </div>
        </div>
    </div>
</footer>